@import"https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #56CCF2, #2F80ED)
}

.box {
    width: 400px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    padding: 15px
}

.box .result {
    font-size: 80px
}